@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.bg {
  --background: linear-gradient(to bottom, #FFB319, #FBFFB1, #FFB319);
}

.images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.images img {
  width: auto;
  height: 282px;
}

.Title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px; /* Added margin for spacing */
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Space between input fields */
  width: 100%;
}

.input-fields .input-text {
  width: 80%; /* Adjust width as needed */
  max-width: 350px; /* Restrict maximum width */
  padding: 15px;
  border: 2px solid #FFB319;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.input-fields .input-text:focus {
  border-color: #FBFFB1; /* Highlight effect on focus */
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.button .btn {
  width: 286px;
  background-color: white;
  border: none;
  color: #000000;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  border-radius: 20px;
  font-family: Tahoma, sans-serif;
  font-weight: 800;
}
