.cart-item{
    background: #feefc6;
    padding:1.5rem 1rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 5%;
    position: relative;

    .image{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 1.2rem;
        position: absolute;
        left: -5%;
        top: 50%;
        transform: translateY(-50%);
        
    }

    .description{
        flex: 1;
        margin-left: 31%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3{
            font-weight: 600;
            color: black;
        }

        p{
            font-size: 1.4rem;
            font-weight: 700;
            color: black;
            margin: 0.5rem 0;

            sup{
                font-size:  0.8rem;
                margin-right: 2px;
            }
        }
    }
    

    .actions{
        .counter{
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            font-weight: 700;
            color: black;
        }

        ion-button{
            --background: white;
            --box-shadow: 0px 2px 10px white;
            --padding-start: 0;
            --padding-end: 0;
            --padding-top: 0;
            --padding-bottom: 0;
            --border-radius: 50px;
            height:35px;
            width:35px;
        }
    }
}