<ion-header>
  <ion-toolbar class="bg">
    <ion-buttons>
      <ion-menu-button menu="main-menu" class="color"> </ion-menu-button>
      <ion-title>Company History</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 
<ion-content>
  <div>
  <img class="logo" src="assets/logo.png"/><br>
  </div>

  <ion-text>
    <div class="ion-text-center">
      <h1>HISTORY</h1>
      <ion-text color="dark">
        <h3>Sugar Rush is an American-style bakery founded in 2022 to bring the authentic taste of American home baking to the Philippines. Today, the bakery has become a highly celebrated and iconic brand, helping to create moments of joy on every occasion. One of the key factors in Sugar Rush's success has been its ethos that cakes taste best when they’ve been freshly baked using exactly the same ingredients and techniques as those used in home baking.</h3>
      </ion-text>
    </div>
  </ion-text>

  <div class="button">
  <ion-button size="large" class="btn" routerLink="/contact">Contact Us</ion-button>
  </div>

</ion-content>