.card{
    width: 80%;
    height: 300px;
    padding: 1rem 1rem;
    background: rgba(217, 217, 217, 0.37);
    display: flex;
    flex-direction:column;
    align-items: center;
    position: auto;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left:7px;

    .card-content{
        text-align: center;

        .title{
            font-weight: 700;
            font-size: 1.1rem;
            margin-bottom: 0.2rem;
            color: #1d1d1d;
        }
        .subtitle
        {
            font-size: 1.3rem;
            font-weight: 700;
            color: #C9AA05;
            margin-top: 0;

            sup{
                font-size: 1rem;
                margin-right: 2px;
            }
        }

        ion-buttons{
            position: relative;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);

            ion-button{
                --background: #feefc6;
                font-weight: 600;
                color: black;
                width: 148px;
                height: 32px;
                border-radius: 1000px;
                font-size: 15px;
                margin-top: 20px;
            }
        }
    }
}