.bg{
    --background: #fccf55;
    padding-top: 10px;
    padding-bottom: 10px;
    
    .color{
        color: black;
    }
    
    
    ion-title{
        font-size: 24px;
        margin-left: 40px;
        color: black;
    font-weight: 800;
    }
}

  
.ion-text-center{
    padding-top: 50px;
    color: #fccf55;
}

.media-content{
    margin-top: 40px;


    .media{
        display: inline;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        margin-left: 80px;
        font-size: 30px;
        margin-bottom: 80px;
    }
    
}

.btn{
    margin-top: 20px;
    margin-bottom: 30px;
    --background: #fccf55;
    color: black;
    width: 325px;
    text-align: center;
    margin-left: 18px;
    font: bold;
    font-size: 25px;
    font-weight: bold;
}

  