.bg{
    --background: #fccf55;
    padding-top: 10px;
    padding-bottom: 10px;
}

.color{
    color: rgba(113, 101, 101, 0.78);
}


ion-title{
    font-size: 24px;
    margin-left: 40px;
    color: black;
    font-weight: 800;
}

.picture{
    img{
        width: 80%;
        height: 80%;
        margin-top: 50px;
        border-radius: 20px;
    }

    h1{
        font-weight: 800;
        font-size: 35px;
    }

    p{
        margin-left: 25px;
        margin-right: 25px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
    }
    
    .btn
    {
        --background: #fccf55;
        color: black;
        width: 325px;
        text-align: center;
        font: bold;
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 35px;
    }

    
    
}
